.buttons {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons button {
  width: 25vh;
  height: 5vh;
  background-color: #ffddd2;
  color: #006d77;
  cursor: pointer;
  border: 2px solid #006d77;
  border-radius: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
